{
  "extends": ["standard", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": ["error", "only-multiline"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  },
  "globals": {
    "HOC_ENV": "readonly"
  }
}
