/* Club Invitation*/
.ClubInvitation__Container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 2rem;
}

.ClubInvitation__Section {
  margin: 1rem 0;
}

.ClubInvitation__Icon {
  font-size: 5em;
}