.App__Container .Navbar__ProgressBar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.App__Container--isLoading .Navbar__ProgressBar {
  display: block;
}

.App__Container .Navbar__Container {
  z-index: 1101;
}

.Navbar__Language {
  color: #fafafa;
}

.Navbar__Login__Icon {
  color: #fafafa;
}

.Navbar__Menu__Item:hover {
  filter: brightness(90%);
}

.Navbar__Logo {
  width: auto;
  height: 50px;
  object-fit: contain;
}
