.ProjectManagementView__Container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.ProjectManagementView__Sections {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.ProjectManagementView__Section.Main {
  flex-grow: 3;
}

.ProjectManagementView__Section.Side {
  flex-grow: 1;
}

.ProjectManagementView__SectionsDrawer__Drawer.MuiDrawer-root > .MuiPaper-root {
  overflow: visible;
  height: calc(75% - 56px);
}

.ProjectManagementView__SectionsDrawer__Puller {
  height: 5vh;
  z-index: 1;
  position: absolute;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  visibility: visible;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Caps Mgmt Section */

.ManagementCoreSection__Container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  border-radius: 5px;
}

@media (min-width: 600px) {
}
