.ProjectManagementView__Container {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.ProjectManagementView__Section.Main {
  flex-grow: 3;
}

.ProjectManagementView__Section.Side {
  flex-grow: 1;
}

.ProjectManagementView__SectionsDrawer__Drawer.MuiDrawer-root > .MuiPaper-root {
  overflow: visible;
  width: calc(50% - 56px);
}

.ProjectManagementView__SectionsDrawer__Puller {
  min-width: 10vw;
  min-height: 100vh;
  z-index: 1;
  position: absolute;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  visibility: visible;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Caps Mgmt Section */

.ManagementCapsSection__Container {
}

@media (min-width: 600px) {
}
